doctype html
html
  head
    title Список користувачів
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Користувачі
    ul
      each user in users
        li: a(href=`/users/${user.id}`) #{user.name} (#{user.age} років)